<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE REGISTER </title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container">
    <div class="register-section">
      <div class="register-box">
        <h1>Registrate en AMAVI</h1>
        <h2>Crear Cuenta</h2>
        <form action="#" method="post">
          <label for="name"> Nombre Completo </label>
          <input type="name" id="name"  placeholder="Eybar Santiago Viasus Arboleda" required>

          <label for="email"> Correo Electornico </label>
          <input type="email" id="email"  placeholder="Amavi@gmail.com" required>

          <label for="password"> Contraseña </label>
          <input type="password" id="password"  placeholder="E*******" required>

          <label for="password-confirm"> Confirmar Contraseña </label>
          <input type="password-confirm" id="password-confirm"  placeholder="E*******" required>

          <button type="submit" class="btn-register">REGISTRARSE</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión</a></p>
      </div>
    </div>
    </div>
</body>
</html>
